/* Start of Keyboard CSSkeyboard.css*/
button.ui-keyboard-button {
  margin: 4px;
  height: 4em;
  width : 4em;
}
.ui-keyboard button.ui-keyboard-space {
	width: 30em;
}

.ui-keyboard button.ui-keyboard-accept {
	width: 6em;
}
.ui-keyboard button.ui-keyboard-cancel {
	width: 6em;
}
.ui-keyboard button.ui-keyboard-enter {
	width: 10em;
}
.ui-keyboard button.ui-keyboard-tab {
	width: 6em;
}

.ui-keyboard button.ui-keyboard-bksp {
	width: 6em;
}
.ui-keyboard button.ui-keyboard-shift {
	width: 6em;
}
/* End of Keyboard CSS*/
.editing-mode > span.transcribed-text {
	border: 1px dotted blue;
}
.transcribed-text {
	display: inline-block;
}
.transcribed-text:hover {
	cursor: pointer;
	background-color: red;
	cursor: hand;
}
.span-wrapper {
	margin-left: 3px;
}
.selected {
	background-color: green;
}
.button-container {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 308px;
}
.container-fluid > h3 {
	display: block;
	text-align: center;
	color: white;
	margin-bottom: 20px;
}
.navbar-static-top {
	background-color: #2780e3;
}

input.hell {
	width: 100%;
	height: 1px;
	border: none;
}
.ui-keyboard-preview-wrapper > input.hell {
	height: 3em;
}
#wrap {
	position: relative;
	top: 31px;
}

.keyboard-container > input {
	background: #ffffff;
	z-index: -999px;
}
.button-container button, .popover-content button {
	width:100px;
	height: 60px;
}
#paragraph-container {
	font-size: 30px;
}
.result-container {
	font-size: 26px;
}